* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px dotted red; */
}

.container {
    width: 1000px;
    height: 800px;
    background: black;
    border: 10px solid grey;
    display: flex;
    justify-content: center;
    background-image: url("dojo_arena_photos/dojo.jpg");
    background-size: cover;
    position:relative;
}
.select-arena {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: #a3a4a6;
    border: 10px solid #808080;
    text-align: center;
    margin-top: 250px;
}
.select-title {
    margin: 20px;
    color: #efaa12;
    text-shadow:  #fefdfa 1px 2px;
}
.arena {
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin: 3px;
    border-radius: 5px;
}
.select-players {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: #a3a4a6;
    border: 10px solid #808080;
    text-align: center;
    margin-top: 250px;
    background-color: RGBA(81, 76, 72, 0.9);
    display: none;
}
.player1 {
    height: 300px;
    width: 200px;
    position: absolute;
    background-image: url(dojo_arena_photos/mikey.png);
    background-size: cover;
    bottom: 140px;
    left: 100px;
    display: none;
}
.player2 {
    height: 300px;
    width: 200px;
    position: absolute;
    background-image: url(dojo_arena_photos/mikey.png);
    background-size: cover;
    bottom: 140px;
    right: 90px;
    display: none;
}
.ready {
    display:block;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    margin: 30px 0px 0px 160px;
    background-color: red;
    font-size: 20px;
}
select {
    width: 100px;
    height: 30px;
    font-size: 20px;
}